### Import CSV file

In [1]:
import pandas as pd

In [2]:
csv_file = "nycavgtemps.csv"

avg_temps = pd.read_csv(csv_file)
avg_temps.head()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,2019,32.5,36.2,41.7,55.5,62.2,71.7,79.6,75.5,70.4,59.9,43.9,38.3,55.6
1,2018,31.7,42.0,40.1,49.5,66.9,71.7,77.6,78.1,70.7,57.7,44.4,40.1,55.9
2,2017,38.0,41.6,39.2,57.2,61.1,72.0,76.8,74.0,70.5,64.1,46.6,33.4,56.3
3,2016,34.5,37.7,48.9,53.3,62.8,72.3,78.7,79.2,71.8,58.8,49.8,38.3,57.2
4,2015,29.9,23.9,38.1,54.3,68.5,71.2,78.8,79.0,74.5,58.0,52.8,50.8,56.7

### Find average temperature for each season

In [3]:
avg_temps["Winter"] = round((avg_temps["JAN"] + avg_temps["FEB"] + avg_temps["MAR"])/3,1)
avg_temps["Spring"] = round((avg_temps["APR"] + avg_temps["MAY"] + avg_temps["JUN"])/3,1)
avg_temps["Summer"] = round((avg_temps["JUL"] + avg_temps["AUG"] + avg_temps["SEP"])/3,1)
avg_temps["Fall"] = round((avg_temps["OCT"] + avg_temps["NOV"] + avg_temps["DEC"])/3,1)
avg_temps

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Winter,Spring,Summer,Fall
0,2019,32.5,36.2,41.7,55.5,62.2,71.7,79.6,75.5,70.4,59.9,43.9,38.3,55.6,36.8,63.1,75.2,47.4
1,2018,31.7,42.0,40.1,49.5,66.9,71.7,77.6,78.1,70.7,57.7,44.4,40.1,55.9,37.9,62.7,75.5,47.4
2,2017,38.0,41.6,39.2,57.2,61.1,72.0,76.8,74.0,70.5,64.1,46.6,33.4,56.3,39.6,63.4,73.8,48.0
3,2016,34.5,37.7,48.9,53.3,62.8,72.3,78.7,79.2,71.8,58.8,49.8,38.3,57.2,40.4,62.8,76.6,49.0
4,2015,29.9,23.9,38.1,54.3,68.5,71.2,78.8,79.0,74.5,58.0,52.8,50.8,56.7,30.6,64.7,77.4,53.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,1873,28.6,29.5,35.7,46.7,58.8,70.3,75.4,72.0,65.4,55.8,37.0,36.5,51.0,31.3,58.6,70.9,43.1
147,1872,28.8,29.9,30.5,49.4,61.5,71.2,77.5,75.6,66.4,53.2,41.0,26.7,51.0,29.7,60.7,73.2,40.3
148,1871,28.3,30.2,44.2,52.0,60.4,68.2,72.3,73.6,60.8,55.6,38.8,29.2,51.1,34.2,60.2,68.9,41.2
149,1870,37.5,31.3,34.1,50.7,60.9,72.9,76.6,75.3,67.6,56.7,45.5,34.1,53.6,34.3,61.5,73.2,45.4
150,1869,35.1,34.5,34.8,49.2,57.7,69.3,72.8,71.8,65.6,50.9,40.3,34.7,51.4,34.8,58.7,70.1,42.0

### Only keep data from 1990-2015 to match emissions dataset

In [4]:
avg_temps = avg_temps.iloc[4:26]
avg_temps

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Winter,Spring,Summer,Fall
4,2015,29.9,23.9,38.1,54.3,68.5,71.2,78.8,79.0,74.5,58.0,52.8,50.8,56.7,30.6,64.7,77.4,53.9
5,2014,28.6,31.6,37.7,52.3,64.0,72.5,76.1,74.5,69.7,59.6,45.3,40.5,54.4,32.6,62.9,73.4,48.5
6,2013,35.1,33.9,40.1,53.0,62.8,72.7,79.8,74.6,67.9,60.2,45.3,38.5,55.3,36.4,62.8,74.1,48.0
7,2012,37.3,40.9,50.9,54.8,65.1,71.0,78.8,76.7,68.8,58.0,43.9,41.5,57.3,43.0,63.6,74.8,47.8
8,2011,29.7,36.0,42.3,54.3,64.5,72.3,80.2,75.3,70.0,57.1,51.9,43.3,56.4,36.0,63.7,75.2,50.8
9,2010,32.5,33.1,48.2,57.9,65.3,74.7,81.3,77.4,71.1,58.1,47.9,32.8,56.7,37.9,66.0,76.6,46.3
10,2009,27.9,36.7,42.4,54.5,62.5,67.5,72.7,75.7,66.3,55.0,51.2,35.9,54.0,35.7,61.5,71.6,47.4
11,2008,36.5,35.8,42.6,54.9,60.1,74.0,78.4,73.8,68.8,55.1,45.8,38.1,55.3,38.3,63.0,73.7,46.3
12,2007,37.5,28.2,42.2,50.3,65.2,71.4,75.0,74.0,70.3,63.6,45.4,37.0,55.0,36.0,62.3,73.1,48.7
13,2006,40.9,35.7,43.1,55.7,63.1,71.0,77.9,75.8,66.6,56.2,51.9,43.6,56.8,39.9,63.3,73.4,50.6
14,2005,31.3,36.5,39.4,55.1,59.8,74.0,77.5,79.7,73.3,57.9,49.6,35.3,55.8,35.7,63.0,76.8,47.6
15,2004,24.7,35.0,43.5,53.6,65.2,71.2,74.5,74.2,69.3,56.0,48.2,38.4,54.5,34.4,63.3,72.7,47.5
16,2003,27.5,30.1,43.1,49.8,58.7,68.3,75.8,76.7,67.9,55.1,50.0,37.6,53.4,33.6,58.9,73.5,47.6
17,2002,39.9,40.6,44.1,56.1,60.7,71.4,78.8,77.7,70.2,55.2,46.0,36.0,56.4,41.5,62.7,75.6,45.7
18,2001,33.6,35.9,39.6,54.2,63.8,72.9,73.2,78.7,67.7,58.5,52.7,44.1,56.3,36.4,63.6,73.2,51.8
19,2000,31.3,37.3,47.2,51.0,63.5,71.3,72.3,72.7,66.0,57.0,45.3,31.1,53.9,38.6,61.9,70.3,44.5
20,1999,33.9,38.9,42.5,53.5,63.1,73.2,81.4,75.5,69.1,56.0,50.6,40.0,56.5,38.4,63.3,75.3,48.9
21,1998,40.0,40.6,45.4,54.0,64.3,69.2,76.5,76.7,70.2,57.6,48.1,43.2,57.2,42.0,62.5,74.5,49.6
22,1997,32.2,40.0,41.9,51.7,59.4,70.9,75.8,73.3,67.0,56.8,44.5,38.3,54.3,38.0,60.7,72.0,46.5
23,1996,30.5,33.9,38.9,52.2,61.1,71.4,73.4,74.5,68.0,56.4,43.0,41.3,53.7,34.4,61.6,72.0,46.9
24,1995,37.5,31.6,45.0,51.9,61.9,71.8,79.2,78.6,68.3,61.6,43.6,32.4,55.3,38.0,61.9,75.4,45.9
25,1994,25.6,30.6,40.7,55.6,61.8,75.2,79.4,74.0,67.6,58.0,52.0,42.2,55.2,32.3,64.2,73.7,50.7

### Set index to year

In [5]:
avg_temps = avg_temps.set_index("YEAR")
avg_temps = avg_temps[["ANNUAL", "Winter", "Spring", "Summer", "Fall"]]
avg_temps

      ANNUAL  Winter  Spring  Summer  Fall
YEAR
2015    56.7    30.6    64.7    77.4  53.9
2014    54.4    32.6    62.9    73.4  48.5
2013    55.3    36.4    62.8    74.1  48.0
2012    57.3    43.0    63.6    74.8  47.8
2011    56.4    36.0    63.7    75.2  50.8
2010    56.7    37.9    66.0    76.6  46.3
2009    54.0    35.7    61.5    71.6  47.4
2008    55.3    38.3    63.0    73.7  46.3
2007    55.0    36.0    62.3    73.1  48.7
2006    56.8    39.9    63.3    73.4  50.6
2005    55.8    35.7    63.0    76.8  47.6
2004    54.5    34.4    63.3    72.7  47.5
2003    53.4    33.6    58.9    73.5  47.6
2002    56.4    41.5    62.7    75.6  45.7
2001    56.3    36.4    63.6    73.2  51.8
2000    53.9    38.6    61.9    70.3  44.5
1999    56.5    38.4    63.3    75.3  48.9
1998    57.2    42.0    62.5    74.5  49.6
1997    54.3    38.0    60.7    72.0  46.5
1996    53.7    34.4    61.6    72.0  46.9
1995    55.3    38.0    61.9    75.4  45.9
1994    55.2    32.3    64.2    73.7  50.7